body{
    background: url('../images/Anfield.jpg');
    background-position: center;
}

h1{
    font-size: 32px;
    color: white;
    font-family: 'Monoton', cursive;

}

img{
    border: red 5px solid;
    border-radius: 25px;
    cursor: pointer;
    height: 250px;
    width: 200px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

img:hover{ 
     /* height: 290px; */
    /* width: 240px; */
    transform: scale(1.2);
}

