html {
    position: relative;
    min-height: 100%;
}

body{
    background: url('../images/Anfield.jpg');
    background-position: center;
}

.scoreboard-row{
    margin-left: 90px;
}

h1{
    font-size: 42px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 26px;
}

h2{
   font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    display: inline;  
}

p{
    font-size: 16px;
    color:gray;
    font-family: 'Montserrat', sans-serif;
}

.close{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 1050px;
    margin-top: 20px;
    color: red;
}

img{
    border: rgba(255, 0, 0, 0.884) 3px solid;
    border-radius: 25px;
    cursor: pointer;
    height: 210px;
    width: 155px;
    margin: 10px;
    transition: all 0.2s ease-in-out;    
}

.picture-row{
margin-top: 40px;
margin-left: 45px;
}

img:hover{ 
    transform: scale(1.2);
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 10px;
}

button{
    border-radius: 35px;
    width: 225px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: white;
    opacity: 0.7;
    margin-top: 8px;
    margin-left: 100px;
    cursor: pointer;
    outline: "none" !important;
    border: 'none';
    text-decoration: none;
}

#yellow-card{
    background-color: yellow;
}

#red-card{
    background-color: red;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background: rgb(0,0,0,0.4);
    
}

.modal-content{
    background-color: white;
    border-radius: 25px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid yellow;
    width: 80%;
    color: black;
}

#yellow-card-title{
    color: yellow;
}

.card-content{
    color:black;
    font-size: 28px;
    margin-top: 100px;
}

/* #lose-modal{
    color:blue;
    font-size: 56px;

} */

#win-modal-background{
    background-image: url("../images/liverpool\ win.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
   
}
#win-modal h2{
    color: red;
    font-size: 76px;
    text-align: center;
}

#win-close{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /* margin-left: 1050px; */
    margin-top: 20px;
    color: red;

}

.close:hover,
.close:focus{
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}
